.adminbody
{
    background-color: #fff;
    width:350px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;

}


.button-mj{
    margin-top:5px;
  
}

input {
    width:100%;
}

.name
{
    margin:15px;
}